@using Rise.Client.Utils.Navigation
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject Microsoft.Extensions.Localization.IStringLocalizer<NavBar> Localizer
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

  <nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-nav mt-4 ">
    <div class="container">
      <div class="bg-white z-index-3 p-1 logo-img rounded-circle ">
        <img src="img/BUUT_logo.png" alt="Logo" class="logo"/>
      </div>
      
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 " id="navigation">
        <ul class="navbar-nav navbar-nav-hover d-flex ms-auto align-items-center">
          <li class="nav-item dropdown dropdown-hover mx-2">
            <a href="/" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-end" role="button" aria-expanded="false">
              <h4 class="text-white">@Localizer["Home"]</h4>
            </a>
            </li>
          @foreach (var link in NavigationLinks.GetNavigationLinks().Where(link => link.Authenticated))
          {
            <AuthorizeView Roles="Admin">
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a href="@link.Url" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-end" role="button" aria-expanded="false">
                  <h4 class="text-white">@Localizer[@link.Name]</h4>
                </a>
              </li>
            </AuthorizeView>
          }
          @foreach (var link in NavigationLinks.GetNavigationLinks().Where(link => !link.Authenticated))
          {
            <li class="nav-item dropdown dropdown-hover mx-2">
              <a href="@link.Url" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-end" role="button" aria-expanded="false">
                <h4 class="text-white">@Localizer[@link.Name]</h4>
              </a>
            </li>
          }
        </ul>
        <ul class="navbar-nav navbar-nav-hover d-flex align-items-center">
         <AuthorizeView>
             <Authorized>

               <li class="nav-item">
                 <a href="profile" class="px-1 py-0 nav-link line-height-0" target="_blank">
                   <i class="ni ni-circle-08"></i>
                 </a>
               </li>
               <li class="nav-item">
                 <a href="language" class="nav-link py-0 px-1 line-height-0">
                   <i class="ni ni-settings-gear-65 "></i>
                 </a>
               </li>
               <li class="nav-item dropdown py-0 pe-3">
                 <a href="alerts" class="nav-link py-0 px-1 position-relative line-height-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                   <i class="ni ni-bell-55"></i>
                   <span class="position-absolute top-5 start-100 translate-middle badge rounded-pill bg-danger border border-white small py-1 px-2">
                     <span class="small">11</span>
                     <span class="visually-hidden">unread notifications</span>
                   </span>
                 </a>
               </li>
               <li class="nav-item">
                 <a class="px-1 py-0 nav-link line-height-0 auth" @onclick="BeginLogOut">
                   <span class="oi oi-account-logout auth" aria-hidden="true"></span>
                 </a>
               </li>
             </Authorized>
             <NotAuthorized>
               <li class="nav-item px-3">
                 <NavLink class="px-1 py-0 nav-link line-height-0 auth" href="authentication/login">
                   <span class="oi oi-account-login auth" aria-hidden="true"></span> 
                 </NavLink>
               </li>
               <li class="nav-item">
                 <a href="register" class="px-1 py-0 nav-link line-height-0" target="_blank">
                   <i class="ni ni-badge "></i>
                 </a>
               </li>
             </NotAuthorized>
         </AuthorizeView>
        </ul>
      </div>
    </div>
  </nav>

@code {
  public async void BeginLogOut()
  {
    Navigation.NavigateToLogout("authentication/logout");
  }
}