@using Rise.Client.Auth
@using Rise.Client.Users
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @if (routeData.PageType == typeof(Login) || routeData.PageType == typeof(Register))
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(AuthLayout)" />
        }
        else
        {
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        }

        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
            <Error404/>

    </NotFound>
</Router>