@page "/Actua"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Actua> Localizer

<h2>@Localizer["Title"]</h2>
<div class="col-md-12">
    <PressRelease Title="@Localizer["Hln1Title"]" Text="@Localizer["Hln1Text"]" Author="Sabine Van Damme" Image="img/hln1.png" Link="https://www.hln.be/gent/volkswijk-muide-verovert-het-water-deelbootjes-buut-worden-dit-weekend-te-water-gelaten~a6b25e99/" ></PressRelease>
    <PressRelease Title="@Localizer["Hln2Title"]" Text="@Localizer["Hln2Text"]" Author="Sofie Van Waeyenberghe" Image="img/hln2.png" Link="https://www.hln.be/gent/deelbootjes-voor-de-muide-lieven-46-zorgt-ervoor-dat-iedereen-van-het-water-kan-genieten-met-een-buut-voor-de-buurt~a218699b/" ></PressRelease>
    <PressRelease Title="@Localizer["VrtTitle"]" Text="@Localizer["VrtText"]" Author="Lotte Aneca" Image="img/vrt.png" Link="https://www.vrt.be/vrtnws/nl/2022/05/15/gentse-wijk-deelt-drie-bootjes-met-de-bewoners-willen-ook-kwet/?fbclid=IwAR1wbt7L1VuKvav7T152nxULgoabnN_NXqBtP_2BtT3sPgyiPhNhgkYsJqM" ></PressRelease>
    
</div>