@page "/notifications"
@using Microsoft.Extensions.Localization
@attribute [Authorize(Roles = "User")]
@inject IStringLocalizer<Notifications> Localizer;

<PageTitle>@Localizer["Notifications"]</PageTitle>

<div class="text-white">
    <h1>@Localizer["Notifications"]</h1>

    <p>@Localizer["DemoFetch"]</p>
    <p>Notification count : @notificationCount?.Count</p>

    @if (notifications == null)
    {
        <div class="loading-container" style="background-color: transparent;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <div class="card">
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                @Localizer["Title"]</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 d-none d-md-table-cell">
                                @Localizer["Message"]</th>
                            <th
                                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">
                                @Localizer["Sent"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var notification in notifications)
                        {
                            <tr @onclick="() => HandleNotificationClick(notification.NotificationId)"
                        style="vertical-align: middle;">
                        <td>
                            <div class="d-flex align-items-center px-2 py-1">
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-xs">@notification.Title</h6>
                                </div>
                                <div class="m-0 p-0">
                                    @if (!notification.IsRead)
                                            {
                                                <span class="badge p-1 ms-2"
                                                    style="background-color: #db110b; color: white; font-weight: bold;">New</span>
                                            }
                                        </div>
                                    </div>
                                </td>
                                <td class="d-none d-md-table-cell">
                                    <p class="text-xs font-weight-bold mb-0 text-start">
                                        @notification.Message</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <h6 class="mb-0 text-xs">@notification.CreatedAt.ToShortDateString()</h6>
                                        <p class="text-xs text-secondary mb-0">@notification.CreatedAt.ToShortTimeString()</p>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
