@page "/register"
@using Rise.Shared.Enums
@using Rise.Shared.Users
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IUserService UserService
<link href="css/shared-form.css" rel="stylesheet" />

<PageTitle>Register</PageTitle>

<h1 class="form-title">Register</h1>

<div class="form-card">

    <div class="form-items">
        <div>
            <label class="form-label" for="firstName">First Name: </label>
            <input class="form-input" type="text" @bind="_firstName" placeholder="First Name" />
        </div>
        <div>
            <label class="form-label" for="lastName">Last Name: </label>
            <input class="form-input" type="text" @bind="_lastName" placeholder="Last Name" />
        </div>
        <div>
            <label class="form-label" for="Email">Email: </label>
            <input class="form-input" type="email" @bind="_email" placeholder="Email" />
        </div>
        <div>
            <label class="form-label" for="phoneNumber">Phone number: </label>
            <input class="form-input" type="tel" @bind="_phoneNumber" placeholder="Phone number" />
        </div>
        <div>
            <label class="form-label" for="password">Password: </label>
            <input class="form-input" type="password" @bind="_password" placeholder="Password" />
        </div>
        <div>
            <label class="form-label" for="confirmPassword">Confirm password: </label>
            <input class="form-input" type="password" @bind="_confirmPassword" placeholder="Confirm Password" />
        </div>
        <div>
            <label class="form-label" for="birthDate">Birthdate: </label>
            <input class="form-input" type="date" @bind="_birthDate" />
        </div>
        <div>
            <label class="form-label" for="street">Select your address:</label>
            <InputSelect class="form-input" id="street" @bind-Value="_address.Street">
                @foreach (var street in Enum.GetValues(typeof(StreetEnum)).Cast<StreetEnum>())
                {
                    <option value="@street">@street.GetStreetName()</option>
                }
            </InputSelect>
        </div>
        <div class="d-flex flex-row">
            <div>
                <label class="form-label-small" for="houseNumber">House number: </label>
                <input class="form-input-small" type="text" @bind="_address.HouseNumber" placeholder="nr" />
            </div>
            <div>
                <label class="form-label-small" for="bus">Bus: </label>
                <input class="form-input-small" type="text" @bind="_address.Bus" placeholder="Bus" />
            </div>
        </div>


    </div>
    <span>Already have an account? <a class="form-link" href="login">Login</a></span>

    <div class="form-buttons">
        <button class="form-btn btn-primary" type="button" @onclick="Submit">Register</button>
        <button class="form-btn btn-secondary" type="button" @onclick="Cancel">Cancel</button>
    </div>

</div>

@if (_isSubmitted)
{
    <div class="form-card">
    <h2>Thank you for registering!</h2>
    <p>@(_userCreated ? "Your account has been created successfully." : "Failed to create account.")</p>
    <p>firstname: @_newUser.FirstName</p>
    <p>lastname: @_newUser.LastName</p>
    <p>email: @_newUser.Email</p>
    <p>birthdate: @_newUser.BirthDate</p>
    <p>street: @_newUser.Address.Street</p>
    <p>house number: @_newUser.Address.HouseNumber</p>
    <p>bus: @_newUser.Address.Bus</p>
</div>
}

@code {

    private string? _password;
    private string? _confirmPassword;

    private bool _userCreated = false;

    private bool _isSubmitted = false;
    private string? _firstName;
    private string? _lastName;
    private string? _email;
    private string? _phoneNumber;
    private DateTime _birthDate;

    private static AddressDto.CreateAddress _address = new AddressDto.CreateAddress();
    
    private UserDto.RegistrationUser? _newUser;
    
    private async Task Submit()
    {
        if (_password != null && _password != _confirmPassword)
        {
            return;
        }

        _newUser = new UserDto.RegistrationUser(_firstName, _lastName, _email,_phoneNumber,_password,  _address, _birthDate );
        _isSubmitted = true;
        _userCreated = await UserService.CreateUserAsync(_newUser);
        @* NavigationManager.NavigateTo("/login"); *@
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/login");
    }
}